.title{
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
}
.menu{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}
