.menu_item{
  padding: 0 13px;
}
.menu_item:last-child{
  padding-right: 0;
}
.menu{
  display: flex;
  align-items: center;
  font: normal 22px/26px Roboto, arial, helvetica, sans-serif;
}
.logo{
  position:relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  border: dashed 1px red;
}
.logo__circle{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: 0.7;
  border-radius: 50%;
  border: dashed 1px red;
}
.logo__circle_dark_blue{
  background: #0056EC;
}
.logo__circle_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  margin: auto;
  width: 80%;
}
body{
  margin: 0;
}
.main-content__title{
  font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
}
