body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logo{
  position:relative;
  padding: 40px 0 40px 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: 0.7;
  border-radius: 50%;
}
.logo__circle_dark_blue{
  background: #0056EC;
}
.logo__circle_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.menu{
  display: flex;
  align-items: center;
  font: normal 22px/26px robotoregular, arial, helvetica, sans-serif;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotobold, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item::after{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotobold, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: .5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover::after, .menu__item_active::after{
  opacity: 1;
  width: 100%;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: .5s;
}

.main{
  padding: 0 63% 400px 0;
  background: top right no-repeat url(img/mainimg.svg);
}
.main__title{
  margin: 0 0 40px 0;
  font: bold 50px/65px pt_serifbold, arial, helvetica, sans-serif;
}
.main__title-text_highlight{
  background: #ecf3ff;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 400 18px/21px robotoregular, arial, helvetica, sans-serif;
}
.main__button{
  display: inline-block;
  font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
@media (max-width: 1366px){
  .menu__item{
  font: 500 14px/16px robotobold, arial, helvetica, sans-serif;
}
  .main{
  padding: 0 47% 100px 0;
  background-size:65%;
}
 
  .main__subtitle {
  margin: 0 40% 41px 0;
 }
}

@media (max-width: 1024px) {
  .main{
  padding: 0 55% 100px 0;
  background-size:55%;
}
  .main__subtitle {
  margin: 0 10% 41px 0;
 }
  .wrapper{
  width: 91%;
  }
  .header{
    margin-bottom: 85px;
 }
}
@media (min-width: 980px) {
.hamburger-menu{
  display: none;
  }
}
@media (max-width: 980px) {
.menu {
    display: none;
  }
 .logo {
    position: relative;
    padding: 0 0 40px 44px;
    font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  }
   /*скрываем чекбокс*/
  #menu__toggle{
    opacity:0;
  }
  /*стилизуем кнопку*/
 .menu__btn{
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 6%;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
  }
  /*добавляем гамбургер*/
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: #0056EC;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
  /* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 50%;
  height: 100%;
  margin: 0 0 0 50%;
  padding: 186px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu-hamburger__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font: 500 30px/35px robotoregular, arial, helvetica, sans-serif;
  text-decoration: none;
}
  #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
}
@media (max-width: 768px){
  .header{
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
  }
  .main__title{
    margin-bottom: 44px;
    font: bold 30px/39px pt_serifbold, arial, helvetica, sans-serif;
  }
  .main__subtitle{
    margin-bottom: 25px;
    font: 500 16px/19px robotoregular, arial, helvetica, sans-serif;
  }
  .logo{
  color: transparent;
  }
  .main__button{
    font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
  }
  /*скрываем чекбокс*/
  #menu__toggle{
    opacity:0;
  }
  /*стилизуем кнопку*/
 .menu__btn{
    top: 32px;
  }
  /* контейнер меню */
.menu__box {
  width: 100%;
  margin: 0;
  }
}
@media (max-width: 375px) {
  .main__subtitle {
  margin: 0 13% 25px;
 }
}
