.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: .5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover::after{
  opacity: 1;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotobold, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu{
  display: flex;
  align-items: center;
  font: normal 22px/26px robotoregular, arial, helvetica, sans-serif;
}
.logo{
  position:relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: 0.7;
  border-radius: 50%;
}
.logo__circle_dark_blue{
  background: #0056EC;
}
.logo__circle_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  margin: auto;
  width: 80%;
}
body{
  margin: 0;
}
.main-content__title{
  font: bold 66px/87px pt_serifbold, arial, helvetica, sans-serif;
}

